.idea
venv
__pycache__
.DS_Store
output

_build/
_build_doctrees/
_build_html/
_build_latex/

.sphinx-build/

# PyCache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

.ipynb_checkpoints


Thumbs.db
ehthumbs.db
Desktop.ini

@windows/installer/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/site

html/
latex/
doxygen_sqlite3.db

